*.pyc
staticfiles
mediafiles
migrationcheck.sqlite
*sublime*
*__pycache__*

*.sqlite*
.coverage
coverage.xml
test-results.xml
.DS_Store
celerybeat.pid
invoice_audits/
profiling/results
profiling/outputs

.idea
.vscode

file_processing_info.json
build/
factoryboy_random_state.txt
valgrind-python.supp
valgrind.log
supervisord.log
supervisord.pid
.ipynb_checkpoints
dask-worker-space/
profiling/endpoints/
/ocr_cache/
/ea_cache/
.ml-models
.pytest_cache
table_bloat*.csv
index_bloat*.csv

.local-db
pytest_output.txt
.local/
.cache/

# Environments
.env
.env.*
.venv
env/
venv/
venv*
ENV/
env.bak/
venv.bak/

# Performance and Query monitoring
db_query_monitor
